<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="contact.css">
    {{>headerLinks}}
    <style>
        form{
            position: absolute;
            top: 100px;
            margin: auto 500px;
        }
    </style>
</head>
<body>
    {{>header}}
    <div class="fadeInDown">
    <form action="/login" class="login" method="POST">
        <div class="fadeIn first">
            <img src="./Images/about.png" height="130" id="icon" alt="User Icon" />
        </div>
         <div class="form-group fadeIn second">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group fadeIn third">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
         </div>
         <button type="submit" class="btn btn-secondary fadeIn fourth">Login</button>
      </form> 
      </div>
  </body>
</html>
