<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <title>Car Rental Website</title>
    {{>headerLinks}}
</head>
<body>
    {{>header}}
    <section class="ride" id="ride">
        <div class="heading">
            <span>How It Works</span>
            <h1>Rent with 3 Easy steps</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class='bx bxs-map'></i>
                <h2>Choose a Location</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, dolor!</p>
            </div>

            <div class="box">
                <i class='bx bxs-calendar-check' ></i>
                <h2>Pick-Up Date</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, dolor!</p>
            </div>

            <div class="box">
                <i class='bx bx-calendar-star'></i>
                <h2>Book a Car</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, dolor!</p>
            </div>
        </div>
    </section>
</body>
</html>